<!DOCTYPE html>
<html>
<head><title>Register</title></head>
<body>
  <h2>Register</h2>
  <form method="POST" action="/register" enctype="multipart/form-data">
    Username: <input type="text" name="username" required><br><br>
    Password: <input type="password" name="password" required><br><br>
    First Name: <input type="text" name="firstname" required><br><br>
    Last Name: <input type="text" name="lastname" required><br><br>
    Email: <input type="email" name="email" required><br><br>
    Address: <input type="text" name="address" required><br><br>
    Upload File: <input type="file" name="file" accept=".txt"><br><br>
    <input type="submit" value="Register">
  </form>
  <p>Already registered? <a href="/login">Login here</a></p>
</body>
</html>
